<!DOCTYPE html>
<html lang="it" data-theme="dark">
<head>
    <meta charset="UTF-8" />
    <title>{{ title if title else "Lenta France Gestionale" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Foglio di stile -->
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="nav-left">
             <img src="{{ url_for('static', path='img/logo.png') }}" class="logo" alt="Logo Lenta France" />
            <span class="brand">Lenta France Gestionale</span>
        </div>

        <div class="nav-right">
            <a href="/" class="nav-link">🏠 Home</a>
            <a href="/docs" class="nav-link">📘 API Docs</a>
            <button id="theme-toggle" class="theme-toggle-btn" type="button" aria-label="Cambia tema">
                <span class="theme-toggle-icon theme-toggle-icon--sun">&#9728;</span>
                <span class="theme-toggle-icon theme-toggle-icon--moon">&#9790;</span>
            </button>
        </div>
    </nav>

    <!-- CONTENUTO -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <script src="{{ url_for('static', path='/js/theme_switcher.js') }}"></script>
</body>
</html>
